
body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 125px auto auto;
}

.logo-container {
    position: relative;
    grid-row: 2;
    grid-column: 2;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    min-width: 100px;
    padding-left: 10px; 
    padding-top: 10px;    
}
          
.p-container {
    grid-row: 2;
   grid-column: 1;
   margin: auto;    
}

article {   
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    
}

span {
    font-size: 80px;
    color: darkseagreen;
}

nav {
    
    grid-column: 3;
    grid-row: 1;
    justify-content: space-evenly;
    width: 100px;
    margin-left: auto;
    margin-right: -5%;

}

.nav-element {
    font-size: 1vw;
    color: #565656;
    font-family: 'Barlow', sans-serif;
    outline-width: thin;
    
}

.imgcontainer {
    display: flex;
    align-items: baseline;
}

section {
    grid-row: 2;
    grid-column: 2/4;
    margin: auto;
}

.inline {
    object-fit: contain;
    padding-left: 50px;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 0;
}
.black {
    height: auto;
    width: 100%;
    max-width: 185px;
    min-width: 45px;  
}

.blue {
    height: auto;
    width: 100%;
    max-width: 165px;
    min-width: 45px; 
}

.gin {
    height: auto;
    width: 100%;
    max-width: 200px;
    min-width: 50px;
}

.video-container {
    overflow: hidden;
    display: block;
    height: 100%;
    grid-row: 4;
    padding-right: 500px;
    margin: auto;
}

#glass {
    width: 1880px;

}

