html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    /*overflow-x: hidden; /* Hide horizontal scrollbar */
    
}

.logo {
    top: 0;
    left: 0;
    max-width: 300px;
    min-width: 100px;
    padding-left: 10px; 
    padding-top: 10px;    
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 5px;
    height: 5px;
    background-color: #008ccc;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
article {   
    font-family: 'Playfair Display', serif;
    font-size: 1vw;
    text-align: center;   
}

span {
    font-size: 2vw;
    color: darkseagreen;
}

section {  
    display: flex;
    flex-direction: row-reverse;
}



.inline {
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 0;
}

.black {
    height: auto;
    width: 100%;
    max-width: 185px;
    min-width: 45px;  
}

.blue {
    height: auto;
    width: 100%;
    max-width: 165px;
    min-width: 45px; 
}

.gin {
    height: auto;
    width: 100%;
    max-width: 200px;
    min-width: 50px;
}

.video-container {
    margin-top: 15px;
}

#glass {
    max-width: 1880px;
    min-width: 300px;
    position: absolute;
    clip: rect(0px,100vw,500px,0px);
}

.iconify {
    width: 60px;
    height: 100%;
    align-self: flex-end;
    position: fixed;
    
} 

#overlay {
    position: absolute;
    display: none;
    width: 500px;
    height: 500px;
    padding-left: 25%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
