html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    /*overflow-y: hidden; /* Hide horizontal scrollbar */
    
}

.main {
    position: absolute;
}

.logo {
    top: 0;
    left: 0;
    max-width: 300px;
    min-width: 100px;
    padding-left: 10px; 
    padding-top: 10px;    
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-left: 10%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 5px;
    height: 5px;
    background-color: #0080ff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 7px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

#menu {
  display: none;
  height: auto;
  width: 300px;
  position: relative;
  background-color: #cfe3cf;
  left: 10%;
  padding-top: 50px;
  animation-name: ease;
  animation-duration: 0.7s;
}

@keyframes ease {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
  
article {   
    font-family: 'Playfair Display', serif;
    font-size: 1vw;
    text-align: center;   
}

.main-para {
    text-align: right;
    font-size: 1vw;
    font-family: 'Playfair Display', serif;
    margin-top: 20%;
}
span {
    font-size: 2vw;
    color: darkseagreen;
}

section {  
    display: flex;
    flex-direction: row-reverse;
}

.inline {
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 0;
}

.black {
    height: auto;
    width: 100%;
    max-width: 185px;
    min-width: 45px;  
}

.blue {
    height: auto;
    width: 100%;
    max-width: 165px;
    min-width: 45px; 
}

.gin {
    height: auto;
    width: 100%;
    max-width: 200px;
    min-width: 50px;
}

.video-container {
    margin-top: 15px;
}

#glass {
    max-width: 1880px;
    min-width: 300px;
    position: absolute;
    clip: rect(0px,100vw,500px,0px);
}

.iconify {
    width: 60px;
    height: 100%;
    align-self: flex-end;
    position: fixed;
    
} 

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

ul {
  list-style-type: none;
}

.bar-img {
  border-radius: 20px;
  width: 200px;
}

.recipe {
  background-image: url('https://i.pinimg.com/originals/ff/30/ee/ff30ee6fd3f6ba84ffe4a1becd877820.jpg');
  background-repeat: no-repeat;
    width: 400px;
    background-size: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 500px;
}